### Merge our movies dataset with the Full MovieLens Dataset

In [68]:
import pandas as pd
import numpy as np
import json

In [69]:
# Movie metadata
movie_md_cols = [
'Wikipedia movie ID',
'Freebase movie ID',
'Movie name',
'Movie release date',
'Movie box office revenue',
'Movie runtime',
'Movie languages (Freebase ID:name tuples)',
'Movie countries (Freebase ID:name tuples)',
'Movie genres (Freebase ID:name tuples)',
]
movie_md = pd.read_csv('data/movie.metadata.tsv', sep='\t', names=movie_md_cols)
movie_md.head(2)

,Wikipedia movie ID,Freebase movie ID,Movie name,Movie release date,Movie box office revenue,Movie runtime,Movie languages (Freebase ID:name tuples),Movie countries (Freebase ID:name tuples),Movie genres (Freebase ID:name tuples)
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science..."
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp..."

In [70]:
movie_aux_md = pd.read_csv('data_aux/movies_metadata.csv')
movie_aux_md.head()

C:\Users\Mateo Echeverry\AppData\Local\Temp\ipykernel_15688\1218103170.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movie_aux_md = pd.read_csv('data_aux/movies_metadata.csv')

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [71]:
# At the moment we are only interested in the budget, popularity, vote_average and vote_count

movie_aux_md.drop(['belongs_to_collection', 'genres', 'homepage', 'id', 'imdb_id', 'original_language', 'original_title', 
                   'spoken_languages', 'status', 'tagline', 'video', 'runtime', 'poster_path', 'production_companies', 
                   'production_countries', 'overview'], axis=1, inplace=True)

In [72]:
# We will merge the tables based on the name and year it was released.
movie_md['year'] = movie_md['Movie release date'].apply(lambda date: str(date).split("-")[0])
movie_aux_md['year'] = movie_aux_md['release_date'].apply(lambda date: str(date).split("-")[0])

In [73]:
movie_md.head()

,Wikipedia movie ID,Freebase movie ID,Movie name,Movie release date,Movie box office revenue,Movie runtime,Movie languages (Freebase ID:name tuples),Movie countries (Freebase ID:name tuples),Movie genres (Freebase ID:name tuples),year
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science...",2001
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp...",2000
2,28463795,/m/0crgdbh,Brun bitter,1988,NaN,83.0,"{""/m/05f_3"": ""Norwegian Language""}","{""/m/05b4w"": ""Norway""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/07s9rl0"": ""D...",1988
3,9363483,/m/0285_cd,White Of The Eye,1987,NaN,110.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/01jfsb"": ""Thriller"", ""/m/0glj9q"": ""Erotic...",1987
4,261236,/m/01mrr1,A Woman in Flames,1983,NaN,106.0,"{""/m/04306rv"": ""German Language""}","{""/m/0345h"": ""Germany""}","{""/m/07s9rl0"": ""Drama""}",1983

In [74]:
movie_aux_md.head()

,adult,budget,popularity,release_date,revenue,title,vote_average,vote_count,year
0,False,30000000,21.946943,1995-10-30,373554033.0,Toy Story,7.7,5415.0,1995
1,False,65000000,17.015539,1995-12-15,262797249.0,Jumanji,6.9,2413.0,1995
2,False,0,11.7129,1995-12-22,0.0,Grumpier Old Men,6.5,92.0,1995
3,False,16000000,3.859495,1995-12-22,81452156.0,Waiting to Exhale,6.1,34.0,1995
4,False,0,8.387519,1995-02-10,76578911.0,Father of the Bride Part II,5.7,173.0,1995

In [75]:
merge_md = movie_md.merge(movie_aux_md, left_on=['Movie name', 'year'], right_on=['title', 'year'])
merge_md.head()

,Wikipedia movie ID,Freebase movie ID,Movie name,Movie release date,Movie box office revenue,Movie runtime,Movie languages (Freebase ID:name tuples),Movie countries (Freebase ID:name tuples),Movie genres (Freebase ID:name tuples),year,adult,budget,popularity,release_date,revenue,title,vote_average,vote_count
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science...",2001,False,28000000,7.058599,2001-08-24,14010832.0,Ghosts of Mars,4.8,299.0
1,10408933,/m/02qc0j7,Alexander's Ragtime Band,1938-08-16,3600000.0,106.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/04t36"": ""Musical"", ""/m/01z4y"": ""Comedy"", ...",1938,False,2000000,0.632261,1938-05-24,4000000.0,Alexander's Ragtime Band,4.8,6.0
2,171005,/m/016ywb,Henry V,1989-11-08,10161099.0,137.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/04xvh5"": ""Costume drama"", ""/m/082gq"": ""Wa...",1989,False,9000000,7.307967,1989-10-05,0.0,Henry V,7.4,73.0
3,77856,/m/0kcn7,Mary Poppins,1964-08-27,102272727.0,139.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/0hj3myq"": ""Children's/Family"", ""/m/04t36""...",1964,False,6000000,15.11549,1964-08-27,102272727.0,Mary Poppins,7.4,1217.0
4,21926710,/m/05p45cv,White on Rice,2009,NaN,82.0,{},"{""/m/09c7w0"": ""United States of America""}","{""/m/06cvj"": ""Romantic comedy"", ""/m/02l7c8"": ""...",2009,False,0,0.204236,2009-05-31,0.0,White on Rice,6.4,4.0

In [76]:
# We keep the release date from the auxiliar table since it the original has a lot of values where we only have the year whereas the auxiliar has the full date.
# We delete the columns not needed anymore
# We replace the '0' values in the budget column for Nan

merge_md.drop(['Movie release date', 'title', 'revenue', 'year'], axis=1, inplace=True)
merge_md['budget'] = merge_md['budget'].replace('0', np.nan)
merge_md.head()

,Wikipedia movie ID,Freebase movie ID,Movie name,Movie box office revenue,Movie runtime,Movie languages (Freebase ID:name tuples),Movie countries (Freebase ID:name tuples),Movie genres (Freebase ID:name tuples),adult,budget,popularity,release_date,vote_average,vote_count
0,975900,/m/03vyhn,Ghosts of Mars,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science...",False,28000000,7.058599,2001-08-24,4.8,299.0
1,10408933,/m/02qc0j7,Alexander's Ragtime Band,3600000.0,106.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/04t36"": ""Musical"", ""/m/01z4y"": ""Comedy"", ...",False,2000000,0.632261,1938-05-24,4.8,6.0
2,171005,/m/016ywb,Henry V,10161099.0,137.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/04xvh5"": ""Costume drama"", ""/m/082gq"": ""Wa...",False,9000000,7.307967,1989-10-05,7.4,73.0
3,77856,/m/0kcn7,Mary Poppins,102272727.0,139.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/0hj3myq"": ""Children's/Family"", ""/m/04t36""...",False,6000000,15.11549,1964-08-27,7.4,1217.0
4,21926710,/m/05p45cv,White on Rice,NaN,82.0,{},"{""/m/09c7w0"": ""United States of America""}","{""/m/06cvj"": ""Romantic comedy"", ""/m/02l7c8"": ""...",False,NaN,0.204236,2009-05-31,6.4,4.0

In [77]:
# Reorder the columns
merge_md = merge_md.rename(columns={"release_date": "Movie release date"})
list(merge_md.columns.values)
merge_md = merge_md[['Wikipedia movie ID',
 'Freebase movie ID',
 'Movie name',
 'Movie release date',
 'Movie box office revenue',
 'Movie runtime',
 'Movie languages (Freebase ID:name tuples)',
 'Movie countries (Freebase ID:name tuples)',
 'Movie genres (Freebase ID:name tuples)',
 'adult',
 'budget',
 'popularity',
 'vote_average',
 'vote_count']]

In [78]:
merge_md.head()

,Wikipedia movie ID,Freebase movie ID,Movie name,Movie release date,Movie box office revenue,Movie runtime,Movie languages (Freebase ID:name tuples),Movie countries (Freebase ID:name tuples),Movie genres (Freebase ID:name tuples),adult,budget,popularity,vote_average,vote_count
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science...",False,28000000,7.058599,4.8,299.0
1,10408933,/m/02qc0j7,Alexander's Ragtime Band,1938-05-24,3600000.0,106.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/04t36"": ""Musical"", ""/m/01z4y"": ""Comedy"", ...",False,2000000,0.632261,4.8,6.0
2,171005,/m/016ywb,Henry V,1989-10-05,10161099.0,137.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/04xvh5"": ""Costume drama"", ""/m/082gq"": ""Wa...",False,9000000,7.307967,7.4,73.0
3,77856,/m/0kcn7,Mary Poppins,1964-08-27,102272727.0,139.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/0hj3myq"": ""Children's/Family"", ""/m/04t36""...",False,6000000,15.11549,7.4,1217.0
4,21926710,/m/05p45cv,White on Rice,2009-05-31,NaN,82.0,{},"{""/m/09c7w0"": ""United States of America""}","{""/m/06cvj"": ""Romantic comedy"", ""/m/02l7c8"": ""...",False,NaN,0.204236,6.4,4.0

In [79]:
print(f'The original dataset had {len(movie_md)} movies, and the merged one has {len(merge_md)}.')
print(f'There are {len(merge_md) - len(merge_md[merge_md["Movie box office revenue"].isna()])} movies with the revenue value.')

The original dataset had 81741 movies, and the merged one has 21202.
There are 6706 movies with the revenue value.